In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'C:/Users/user/Downloads/PYTHON_WORKSHEET_12.csv')

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

Q1.Determine the no. of rows and no. of columns in the dataset.

In [7]:
r,c = df.shape
print("No. of rows: ",r)
print("No. of columns: ",c)

No. of rows:  23678
No. of columns:  21

Q2 Display the datatypes of each column.

In [6]:
df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

Q3 Determine the row indexes of rows having all null values (i.e. empty rows)

In [8]:
df[df.isna().all(axis=1)].index

Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)

Q4. Determine the total number of empty rows and their percentage in whole dataset and remove them.

In [11]:
missing = df.isnull().sum()

In [12]:
missing

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [15]:
missing_values_percentage=df.isnull().sum() * 100 / len(df)

In [16]:
missing_values_percentage

Suburb            0.553256
Address           0.553256
Rooms             0.553256
Type              0.553256
Price            22.307627
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.557480
Postcode          0.557480
Bedroom2         19.477996
Bathroom         19.490666
Car              20.090379
Landsize         26.471830
BuildingArea     57.690683
YearBuilt        51.262776
CouncilArea      33.879551
Lattitude        18.730467
Longtitude       18.730467
Regionname        0.557480
Propertycount     0.557480
dtype: float64

In [18]:
remove  = df.isnull().dropna(how='all')

In [19]:
remove

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23674,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23675,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23676,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23677,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

Q5 Determine the column names having missing values

In [22]:
df.columns[df.isnull().any()]

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [30]:
len(df.columns[df.isnull().any()])

21

Q6. Determine the missing values and their percentage in each column.

In [40]:
percent= 100*(len(df.loc[:,df.isnull().sum(axis=0)>=21 ].index) / len(df.index))
print(round(percent,2))

100.0

Q7 . Determine the row indexes having missing values.

In [41]:
df[df.isnull().any(axis=1)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra,-37.79650,144.99650,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [9]:
t=df.isnull().any(axis = 1).sum()
t

17482

Q8. Determine the missing values and their percentage in each row.

In [14]:
percent_missing = df.isnull().sum(axis=1) * 100 / len(df)
percent_missing

0        0.012670
1        0.008447
2        0.000000
3        0.012670
4        0.000000
           ...
23673    0.008447
23674    0.033787
23675    0.016893
23676    0.004223
23677    0.008447
Length: 23678, dtype: float64

 Q9. Determine the column names having more than 30% missing values and remove them from the dataset.

In [18]:
def missing(dff):
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))

missing(df)

BuildingArea     57.69
YearBuilt        51.26
CouncilArea      33.88
Landsize         26.47
Price            22.31
Car              20.09
Bathroom         19.49
Bedroom2         19.48
Longtitude       18.73
Lattitude        18.73
Distance          0.56
Propertycount     0.56
Postcode          0.56
Regionname        0.56
Date              0.55
SellerG           0.55
Method            0.55
Type              0.55
Rooms             0.55
Address           0.55
Suburb            0.55
dtype: float64

Q12. Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values?
Give a brief explanation and treat the missing values in 'Price' column

In [25]:
df['Price'].fillna(df['Price'].mode().iloc[0])

0         600000.0
1        1480000.0
2        1035000.0
3         600000.0
4        1465000.0
           ...
23673     600000.0
23674     600000.0
23675    1100000.0
23676    1285000.0
23677    1050000.0
Name: Price, Length: 23678, dtype: float64

Q13. Now check the percentage of missing values in each column again, if missing values exist, treat it with the most
suitable method.

In [21]:
def miss_data(df):
    x = ['column_name','missing_data', 'missing_in_percentage']
    missing_data = pd.DataFrame(columns=x)
    columns = df.columns
    for col in columns:
        icolumn_name = col
        imissing_data = df[col].isnull().sum()
        imissing_in_percentage = (df[col].isnull().sum()/df[col].shape[0])*100
        
        missing_data.loc[len(missing_data)] = [icolumn_name, imissing_data, imissing_in_percentage]
    print(missing_data) 
    
miss_data(df)

      column_name missing_data  missing_in_percentage
0          Suburb          131               0.553256
1         Address          131               0.553256
2           Rooms          131               0.553256
3            Type          131               0.553256
4           Price         5282              22.307627
5          Method          131               0.553256
6         SellerG          131               0.553256
7            Date          131               0.553256
8        Distance          132               0.557480
9        Postcode          132               0.557480
10       Bedroom2         4612              19.477996
11       Bathroom         4615              19.490666
12            Car         4757              20.090379
13       Landsize         6268              26.471830
14   BuildingArea        13660              57.690683
15      YearBuilt        12138              51.262776
16    CouncilArea         8022              33.879551
17      Lattitude         4435              18.730467
18     Longtitude         4435              18.730467
19     Regionname          132               0.557480
20  Propertycount          132               0.557480

In [24]:
df.fillna(df.mode().iloc[0])

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,600000.0,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,120.0,1970.0,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,120.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,600000.0,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,120.0,1970.0,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,600000.0,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,Boroondara,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,600000.0,S,hockingstuart,26-08-2017,27.2,3024.0,...,1.0,2.0,0.0,120.0,1970.0,Boroondara,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,0.0,120.0,1970.0,Boroondara,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,Boroondara,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,0.0,139.0,1950.0,Boroondara,-37.81829,144.87404,Western Metropolitan,6543.0